.container {
  display: grid;
  grid-row-gap: $vspace*2;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 60px;
  grid-template-areas: "sidebar game" "sidebar score";
  min-height: 100vh;
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 60px;
    grid-template-areas: "sidebar" "game" "score";
  }
}
